<% provide :title do %><%= 'Documentos' %><% end %>
<div class="row margin-top">
  <section class="debate-show">
  <div class="small-12 medium-9 column">
    <h1><%= 'Documentos' %></h1>
    <p>Documentos de partida y propuestas de reglamento insular de participación ciudadana.<p>
    <p><%= link_to "PROYECTO DE REGLAMENTO ORGÁNICO DE PARTICIPACIÓN CIUDADANA DEL CABILDO DE GRAN CANARIA", 'https://drive.google.com/open?id=0B8LPlQ_9gtuFYmF6c3JZYW4zdTg', target: "_blank" %></p>
    <p><%= link_to "Presentación del Proceso Participativo", 'https://drive.google.com/open?id=0B8LPlQ_9gtuFWGl6bXJaYXlPUVE', target: "_blank" %></p>
    <p><%= link_to "Presentación del debate", 'https://drive.google.com/open?id=0Bzges_97m8lCN0NQNUMwTDlLZ3c', target: "_blank" %></p>
  </div>
    <aside class="small-12 medium-3 column">
      <div class="sidebar-divider"></div>
      <h3><%= t("debates.show.share") %></h3>
      <div class="social-share-full">
        <%# <%= social_share_button_tag("#{setting['twitter_hashtag']}") %>
        <%= social_share_button_tag("#{setting['twitter_hashtag']}") %>
        <% if browser.device.mobile? %>
          <a href="whatsapp://send?text=https://participa.grancanaria.com/" data-action="share/whatsapp/share">
            <span class="icon-whatsapp whatsapp"></span>
          </a>
        <% end %>
      </div>
    </aside>
  </section>
</div>
