<div class="row margin-top">

  <section class="debate-show">
  <div class="small-12 medium-9 column">
    <p>
Este apartado está habilitado para recoger las aportaciones a la propuesta de Reglamento para la participación ciudadana del Cabildo de Gran Canaria.
    </p>
  </div>
    <aside class="small-12 medium-3 column">
      <div class="sidebar-divider"></div>
      <h3><%= t("debates.show.share") %></h3>
      <div class="social-share-full">
        <%# <%= social_share_button_tag("#{@debate.title} #{setting['twitter_hashtag']}") %>
        <%= social_share_button_tag("#{setting['twitter_hashtag']}") %>
        <% if browser.device.mobile? %>
          <a href="whatsapp://send?text=<%= @debate.title %> <%= debate_url(@debate) %>" data-action="share/whatsapp/share">
            <span class="icon-whatsapp whatsapp"></span>
          </a>
        <% end %>
      </div>

  </section>

</div>
