<main>
  <div class="wrap row menu">
    <div class="small-12 medium-9 column">
      <h1><%= 'Bienvenido a Participa Gran Canaria' %></h1>
      <p>
        <%= image_tag('LOGO_PARTICIPA.jpg', class: 'hide-for-small-only float-left', alt: 'Logo Participa Gran Canaria') %>
      Este sitio web se ha creado para permitir el acceso a los contenidos relevantes que se vayan elaborando durante las diferentes fases en las que consta el Proceso de Consideración Ciudadana, con la posibilidad de canalizar las opiniones, valoraciones y propuestas
      </p><p>
      Así mismo servirá como plataforma difusora de las noticias, novedades, acciones y eventos asociados al mismo tiempo que permitirá la comunicación no presencial entre los agentes participantes.

      </p><p>
      El objetivo será por tanto facilitar la información actualizada tanto al público en general como a agentes participantes en el Proceso de Consideración Ciudadana, a través de un repositorio formal, gestionado, ordenado y organizado permanentemente.

      </p>
  </div>
  <aside class="small-12 medium-3 column">
      <div class="sidebar-divider"></div>
      <h3><%= t("debates.show.share") %></h3>
      <div class="social-share-full">
        <%# <%= social_share_button_tag("#{@debate.title} #{setting['twitter_hashtag']}") %>
        <%= social_share_button_tag("#{setting['twitter_hashtag']}") %>
        <% if browser.device.mobile? %>
          <a href="whatsapp://send?text=<%= @debate.title %> <%= debate_url(@debate) %>" data-action="share/whatsapp/share">
            <span class="icon-whatsapp whatsapp"></span>
          </a>
        <% end %>
      </div>

</main>
