<div class="small-12 medium-12">
  <ul>
    <li class="proposals">
      <%= link_to root_path do %>
        <h1 class="hide-for-small-only"> Página principal</h1>
        <span class="show-for-small-only"> Página principal </span>
      <% end %>
    </li>
    <li class="debates">
      <%=link_to page_path('participaGC') do  %>
        <h1 class="hide-for-small-only"> Participa Gran Canaria</h1>
        <span class="show-for-small-only"> Participa Gran Canaria</span>
      <% end %>

    </li>
    <li class="encuentros">
      <%= link_to page_path('encuentros') do %>
        <h1 class="hide-for-small-only">Encuentros ciudadanos </h1>
        <span class="show-for-small-only">Encuentros ciudadanos  </span>
      <% end %>

    </li>
    <li class="faq">
      <%= link_to controller: "debates", action: "show", id: '2' do %>
        <h1 class="hide-for-small-only"> Propuestas</h1>
        <span class="show-for-small-only"> Propuestas</span>
      <% end %>

    </li>
    <li class="document">
      <%= link_to page_path('documentos') do %>
        <h1 class="hide-for-small-only"> Documentos</h1>
        <span class="show-for-small-only"> Documentos</span>
      <% end %>

    </li>
  </ul>
</div>

